{% extends "clogin/base.html" %}
{% block content %}
    <h2 class="font-weight-light" style="color: #595959;">Tuloslista:</h2>
    <br>

    <ul class="list-group">
        {% for item2, item1, item3 in names %}
        <!-- HUOM!! MUISTA MUUTTAA /<NUM> ARVO KYSYMYSTEN MÄÄRÄN MUKAAN -->
        {% if item3 == "1" or item3 == 1 %}
        <li class="list-group-item" style="background-image: radial-gradient(white, #ffffcc); color: #595959;">
            {{item3}}. Sija <br> Nimi: {{item1}} <br> Tulos: {{item2}}/5
        </li>
        {% elif item3 == "0" or item3 == 0 %}
        <!-- <li class="list-group-item" style="background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 230, 230)); color: #595959;">
            Yhtään tulosta ei ole vielä lähetetty.
        </li> -->
        <p style="color: #595959;">Ei vielä tuloksia...</p>
        <br>
        <br>
        {% else %}
        <li class="list-group-item" style="background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 230, 230)); color: #595959;">
            {{item3}}. Sija <br> Nimi: {{item1}} <br> Tulos: {{item2}}/5
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <br>
    <hr>
    <p class="font-weight-light">Takaisin etusivulle:</p>
    <a class="btn btn-outline-secondary" href="{% url 'login-home' %}" role="button">Etusivulle</a>
    <hr>
    <br>

{% endblock content %}
