{% extends "clogin/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h3 class="font-weight-light">Pelaaja: {{ name }}</h3>
    <p class="font-weight-light">(Ole tarkkana, sillä voit lähettää vastauksesi vain kerran)</p>

    <hr>
    <div>
    <form action="" method='post'>
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input class="btn btn-outline-secondary" type="submit" value="Vastaa">
    </form>
    <br>
    <br>
    </div>

{% endblock content %}
