<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Asi & Janne Wedding Quiz</title>
  </head>
  {% load static %}
  <!-- <body style="background-image: url({% static 'quiz/flower2.jfif' %}); background-size: 100% 100%;"> -->
  <body style="background-image: linear-gradient(to right, rgb(255, 204, 230), rgb(255, 230, 243), rgb(255, 204, 230), rgb(255, 230, 243), rgb(255, 204, 230));">
      <div style="background-image: url({% static 'quiz/flower2.jfif' %}); background-size: 100% 350%; filter: contrast(98%);">
          <h1 class="text-center font-weight-light display-4" style="color: #8585ad; text-shadow: 1px 1px black;"><strong>Asi & Janne</strong></h1>
          <h1 class="text-center font-weight-light display-4" style="color: #8585ad; text-shadow: 1px 1px black;"><strong>Wedding Quiz</strong></h1>
          <hr>
      </div>
      <div class='container'>
          {% block content %}{% endblock %}
      </div>
      <br>
      <br>
      <div class="container"><p class="font-weight-lighter" style="font-size: 50%;">Henri-Matias Tuomaala © 2020</p></div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
